@model OnlineBookStoreUser.Models.Customers
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_ProfileUserLayout.cshtml";
}
@using (Html.BeginForm("ChangePassword", "Customers", FormMethod.Post))
{
    <div class="card" align="justify" style="width: 800px;float:right">
        <h3><img src="~/images/images.png" height="40" width="40" alt="...">Change Password</h3>
        <div class="card-body">
            <h3 class="card-title"></h3>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">  @Html.HiddenFor(model => model.CustomerId) </li>
            <li class="list-group-item">Old Password : @Html.EditorFor(model => model.Password)</li>
            <li class="list-group-item">New Password :</li>
                
        <input type="submit" value="Edit Details" />
    </div>

}
