
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_PartialLayout.cshtml";
}

<div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Profile</li>
        <li class="list-group-item">Order</li>
        <li class="list-group-item">Saved Address</li>
        <li class="list-group-item">Cart</li>
        <li class="list-group-item">Saved Address</li>
    </ul>
</div>